<ion-view view-title="Tee Shot">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear" ng-click="ctrl.gotoSummary()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <goto hole="ctrl.shot.hole" holes="ctrl.round.holes"></goto>
    </ion-nav-buttons>
    <ion-content scroll="false" has-bouncing="false" hole-next="^.round-detail-approach" hole-prev="^.round-detail-shortgame">
        <div class="row">
            <div class="col">
                <tee-result-input shot="ctrl.shot"></tee-result-input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <span class="input-label">Distance</span>
                    <input type="tel" ng-model="ctrl.shot.distance" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item-input item-select">
                    <div class="input-label">
                        Club
                    </div>
                    <select ng-model="ctrl.shot.clubKey" ng-options="club.key as club.name for club in ctrl.clubs">
                    </select>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>