<ion-view>
    <ion-tabs class="tabs-icon-bottom tabs-bottom tabs-stable">
        <ion-tab title="Stats" icon="ion-stats-bars" ui-sref="app.approach-stats.summary">
            <ion-nav-view name="approach-stats-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Heat Map" icon="ion-map" ui-sref="app.approach-stats.map">
            <ion-nav-view name="approach-stats-map"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Trends" icon="ion-arrow-graph-up-right" ui-sref="app.approach-stats.trends">
            <ion-nav-view name="approach-stats-trends"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>