<ion-popover-view style="height: {{(holes === 9) ? 185 : 360}}px;">
    <ion-pane>
        <div class="row">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(1)">1</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(2)">2</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(3)">3</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(4)">4</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(5)">5</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(6)">6</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(7)">7</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(8)">8</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(9)">9</a>
            </div>
        </div>
        <div class="row" ng-show="holes > 9">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(10)">10</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(11)">11</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(12)">12</a>
            </div>
        </div>
        <div class="row" ng-show="holes > 9">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(13)">13</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(14)">14</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(15)">15</a>
            </div>
        </div>
        <div class="row" ng-show="holes > 9">
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(16)">16</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(17)">17</a>
            </div>
            <div class="col">
                <a class="button button-calm button-outline" ng-click="goto(18)">18</a>
            </div>
        </div>
    </ion-pane>
</ion-popover-view>