<ion-view view-title="My Rounds" ng-controller="ListRoundsController as ctrl">
    <ion-nav-buttons side="secondary">
        <button class="button button-small button-clear icon ion-plus" ui-sref="^.new-round"></button>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <p>graph of the last N rounds</p>
        </div>
        <div>
            <p>average score for those last N rounds</p>
        </div>
        <ion-list>
            <ion-item ng-repeat="round in ctrl.rounds" ng-click="ctrl.gotoSummary(round.key)">
                {{round.date | date: 'yyyy-MM-dd'}} - ({{round.score}}): {{round.course.courseDescription}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>