<ion-view view-title="Short Game">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear" ng-click="gotoSummary()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-small" ng-click="openHoleNav()">{{hole.number}}</button>
    </ion-nav-buttons>
    <ion-content scroll="false" has-bouncing="false" nav-next="^.round-detail-teeball" nav-prev="^.round-detail-approach">
        <p>Round id: {{ round.id }}</p>
        <p>Controls to capture short game information for hole {{hole.number}}</p>
    </ion-content>
</ion-view>