<ion-view>
    <ion-tabs class="tabs-icon-bottom tabs-stable">
        <ion-tab title="Tee Ball" icon="ion-fork" ui-sref="app.hole.teeball">
            <ion-nav-view name="teeball"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Approach" icon="ion-knife" ui-sref="app.hole.approach">
            <ion-nav-view name="approach"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Short Game" icon="ion-spoon" ui-sref="app.hole.shortgame">
            <ion-nav-view name="shortgame"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>