<ion-view>
    <ion-tabs class="tabs-icon-top tabs-stable">
        <ion-tab title="Tee Ball" icon="ion-fork" href="#/hole/summary">
            <ion-nav-view name="teeball"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Approach" icon="ion-knife" href="#/hole/teeball">
            <ion-nav-view name="approach"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Short Game" icon="ion-spoon" href="#/hole/approach">
            <ion-nav-view name="shortgame"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>