<ion-view>
    <ion-content>
        <h1>List of Rounds</h1>
        <ion-list>
            <ion-item ui-sref="app.round.summary">
                6/2/2015: Bunker Hills North to East Blue
            </ion-item>
            <ion-item ui-sref="app.round.summary">
                6/5/2015: Bunker Hills North League
            </ion-item>
            <ion-item ui-sref="app.round.summary">
                6/9/2015: Bunker Hills East to West White
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>