<ion-view>
    <ion-tabs class="tabs-icon-bottom tabs-stable">
        <ion-tab title="Summary" icon="ion-fork" ui-sref="app.round.summary">
            <ion-nav-view name="round-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Tee Shots" icon="ion-knife" ui-sref="app.round.teeball-summary">
            <ion-nav-view name="teeball-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Approach Shots" icon="ion-spoon" ui-sref="app.round.approach-summary">
            <ion-nav-view name="approach-summary"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>