<ion-view>
    <ion-tabs class="tabs-icon-top tabs-stable">
        <ion-tab title="Summary" icon="ion-fork" href="#/round/summary">
            <ion-nav-view name="round-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Tee Shots" icon="ion-knife" href="#/round/teeball">
            <ion-nav-view name="teeball-summary"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Approach Shots" icon="ion-spoon" href="#/round/approach">
            <ion-nav-view name="approach-summary"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>