<ion-view view-title="Overall">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear icon ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-small button-clear icon ion-funnel" ng-click="openFilter()"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" nav-prev="^.shortgame" nav-next="^.teeball">
        <p>Overall statistics and trends for the current period.</p>
    </ion-content>
</ion-view>