<ion-view view-title="My Clubs">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear" ui-sref="^.user">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-small button-clear" ui-sref="^.club-detail({})">Add</button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-energized bar-subheader">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.showDelete = !vm.showDelete">Delete</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="vm.showDelete" can-swipe="false">
            <div class="item item-divider item-balanced">
                Tee Shot Clubs
            </div>
            <ion-item class="item-button-right item-icon-right" ng-repeat="userClub in vm.userClubs | filter : { teeballFlag : true } | orderBy : 'clubKey'" ui-sref="^.club-detail({ club: userClub })">
                {{ userClub.club.clubName }}
                <i class="icon ion-ios7-arrow-forward"></i>
                <ion-delete-button class="ion-minus-circled" ng-click="vm.deleteClub(userClub)" ion-stop-event="click"></ion-delete-button>
            </ion-item>
            <div class="item item-divider item-balanced">
                Approach Shot Clubs
            </div>
            <ion-item class="item-button-right item-icon-right" ng-repeat="userClub in vm.userClubs | filter : { approachFlag : true } | orderBy : 'clubKey' : true" ui-sref="^.club-detail({ club: userClub })">
                {{ userClub.club.clubName }}
                <i class="icon ion-ios7-arrow-forward"></i>
                <ion-delete-button class="ion-minus-circled" ng-click="vm.deleteClub(userClub)" ion-stop-event="click"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>