<ion-view view-title="Short Game" ng-controller="ShortGameController as ctrl">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear" ng-click="ctrl.gotoSummary()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <goto hole="ctrl.shot.hole" holes="ctrl.round.holes"></goto>
    </ion-nav-buttons>
    <ion-content scroll="false" has-bouncing="false" hole-next="^.round-detail-teeball" hole-prev="^.round-detail-approach">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Starting distance:</span>
                <input type="tel" ng-model="ctrl.shot.initialPuttLength" ng-disabled="ctrl.round.isComplete" />
            </label>
            <label class="item item-input">
                <span class="input-label">Final putt length:</span>
                <input type="tel" ng-model="ctrl.shot.puttMadeLength" ng-disabled="ctrl.round.isComplete" />
            </label>
            <div class="item row">
                <div class="col col-25">
                    <span class="input-label">Putts:</span>
                </div>
                <div class="col col-75">
                    <putts-input shot="ctrl.shot" round="ctrl.round"></putts-input>
                </div>
            </div>
            <div class="item row">
                <div class="col">
                    <span class="input-label">Up and down:</span>
                </div>
                <div class="col">
                    <attempt-input flag="ctrl.shot.upAndDown" round="ctrl.round"></attempt-input>
                </div>
            </div>
            <div class="item row">
                <div class="col">
                    <span class="input-label">Sand save:</span>
                </div>
                <div class="col">
                    <attempt-input flag="ctrl.shot.sandSave" round="ctrl.round"></attempt-input>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>