<ion-view view-title="Short Game">
    <ion-nav-buttons side="primary">
        <button class="button button-small button-clear" ng-click="gotoSummary()">Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-small" ng-click="openHoleNav()">{{hole.number}}</button>
    </ion-nav-buttons>
    <ion-content scroll="false" has-bouncing="false" nav-next="^.round-detail-teeball" nav-prev="^.round-detail-approach">
        <div class="row">
            <div class="col-75">
                Starting distance
            </div>
            <div class="col-25">
                <input type="tel" ng-model="ctrl.green.initialPuttLength">
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                Final putt length
            </div>
            <div class="col-25">
                <input type="tel" ng-model="ctrl.green.puttMadeLength">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                Putts
            </div>
            <div class="col-75">
                <putts-input ng-model="ctrl.green.putts"></putts-input>
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                Up and down
            </div>
            <div class="col-25">
                <attempt-input ng-model="ctrl.green.upAndDown"></attempt-input>
            </div>
        </div>
        <div class="row">
            <div class="col-75">
                Sand save
            </div>
            <div class="col-25">
                <attempt-input ng-model="ctrl.green.sandSave"></attempt-input>
            </div>
        </div>
    </ion-content>
</ion-view>